* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fdfbff;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: 900px;
  width: 90%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.05);
  overflow: hidden;
}

.form-section {
  flex: 1;
  padding: 40px;
}

.form-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.logo {
  color: #6c63ff;
  margin-right: 5px;
}

.form-section h2 {
  font-weight: normal;
  color: #666;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background: #6c63ff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #574b90;
}

p {
  margin-top: 20px;
  color: #777;
}

a {
  color: #6c63ff;
  text-decoration: none;
}

.illustration {
  flex: 1;
  background: #f5f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration img {
  width: 90%;
  max-width: 400px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    border-radius: 0;
    height: 100vh;
  }

  .form-section, .illustration {
    width: 100%;
    padding: 30px 20px;
  }

  .illustration {
    background: none;
    padding: 0;
  }

  .illustration img {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }

  .form-section {
    text-align: center;
  }

  form {
    align-items: center;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
.card {
  cursor: grab;
  transition: transform 0.3s ease;
}

/* Bloquear selección de texto en toda la web */
html, body, * {
  user-select: none !important;
  -webkit-user-select: none !important; /* iOS/Safari */
  -moz-user-select: none !important;
  -ms-user-select: none !important;

  -webkit-touch-callout: none !important; /* Quita el popover de iOS (Copiar/Compartir) */
}

/* Evitar arrastrar imágenes/archivos (desktop) */
img, a, svg {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: auto; /* seguimos permitiendo clics normales */
}


